body {
    font-family: Helvetica;
}

a {
  color: #808080;
  text-decoration: none;
  font-weight: 400;
}

.flex-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-padding-start: 0em;
}

.flex-nav li {
  padding: 20px;
}

.headercontainer {
  background: #FFC2C7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  ". headerimage";
}

.header-image {
  grid-area: headerimage;
}

.header-image img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

.header-text {
  position: absolute;
  top: 150px;
  left: 100px;
  background: #000;
  color: white;
  padding: 10px;
}

h1 {
  display: inline;
}

section {
  display: grid;
  grid-template-columns: 30% 1fr 1fr 1fr;
  grid-gap: 24px;
  grid-template-areas:
  ". header header header"
  "aside content1 content2 content3"
  ". content4 content5 content6";
}

.contentheader {
  grid-area: header;
}

.content1 {
  grid-area: content1;
}

.content2 {
  grid-area: content2;
}

.content3 {
  grid-area: content3;
}

.content4 {
  grid-area: content4;
}

.content5 {
  grid-area: content5;
}

.content6 {
  grid-area: content6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: bold;
}

section img {  
  width: 100%;
  height: 200px;
  object-fit: cover;
}

aside {
padding-left: 20px;
padding-right: 20px;
grid-area: aside;
}

aside p {
font-size: 12px;
margin: 0px;
color: #808080;
}

section div p {
  font-size: 10px;
  color: #808080;
  margin: 0px;
}

section p b {
text-transform: uppercase;
}

@media (min-width:320px) and (max-width:767px) {
  .flex-nav ul {
  justify-content: space-between;
}

.flex-nav li {
  padding: 10px;
}

  .headercontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "headerimage";
  }
  
  
  .header-text {
  position: absolute;
  top: 100px;
  left: 100px;
  background: #000;
  color: white;
  padding: 10px;
  font-size: 12px;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  grid-template-areas:
  "aside"
  "header"
  "content1"
  "content2"
  "content3"
  "content4"
  "content5"
  "content6";
}

aside {
padding: 0px;
}
}
